.app {
}

.header{
    margin: 10px;
    padding: 10px;
    background-color: #58ACFA;
    color: #fff;
    border-radius: 10px;
    text-align: center;
}

.two-column-view {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
}

@media(max-width:768px){
    .two-column-view {
        flex-direction: column;
    }
}

.two-column-view-left {
    flex: 8;
}

.two-column-view-right {
    flex: 4;
}