.colorpickers {
    display: flex;
    flex-direction: row;
}

.colorpicker-button {
    background-color: #fff;
    margin: 3px;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    border-style: none;
    user-select: none;
    -webkit-user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.colorpicker-button:active {
    background-color: #eee;
}

.colorpicker-text-button {
    background-color: #fff;
    margin: 3px;
    height: 41px;
    border-radius: 10px;
    border-style: none;
    user-select: none;
    -webkit-user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}


.colorpicker-text-button:active {
    background-color: #eee;
}