#preview-image {
    text-align: center;
    width: 100%;
}

#preview-image-tag {
    max-width: 100%;
}

#line-image {
    text-align: center;
    width: 100%;
}

#line-image-tag {
    max-width: 100%;
}

.tabs {
    margin: 10px;
}

.tab {
    padding: 5px;
}

.memo {
    margin: 10px;
    padding: 10px;
    background-color: #58ACFA;
    color: #fff;
    border-radius: 10px;
    text-align: center;
}